body {
    background-color: rgb(126, 15, 177);
    color: white;
}

ul {
    background-color: rgb(43, 161, 78)
}

#btn {
    background-color:rgb(43, 161, 78);
}

.table {
    background-color: red;
}